.about-section {
    background-color: #0c000e;
    padding: 20px;
    margin-top: 120px;
    margin-bottom: 100px;
}

.main-picture {
    height: 45vh;
    width: 100%;
    background-image: url('../assets/name.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #42004d;
}

.main-info-title {
    font-size: 26px;
    color: #fff;
    margin-bottom: 5px;
    margin-top: 20px;
}

.main-info-paragraph {
    color: #fff;
    font-weight: 300;
}

.main-info-authors {
    color: #ffcf00;
    font-weight: 300;
}

.charity-title {
    font-size: 26px;
    color: #fff;
    margin-bottom: 5px;
    margin-top: 40px;
}

.charity-pics {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.charity-pic {
    height: 15vh;
    width: 23%;
    background-image: url('../assets/name.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #42004d;
}

.charity-info {
    color: #fff;
    font-weight: 300;
}

.about-social {
    margin-top: 30px;
    text-align: right;
}

.about-social a {
    margin-left: 7px;
}

.about-social img {
    height: 15px;
}

@media only screen and (max-width: 1050px) {
    .charity-pics {
        width: 100%;
    }
}

@media only screen and (max-width: 990px) {
    .about-section {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 650px) {
    .charity-pics {
        display: block;
    }

    .charity-pic {
        width: 48%;
        display: inline-block;
        margin-bottom: 20px;
    }

   .c-p-2c {
       float: right;
   }
}

@media only screen and (max-width: 550px) {
    .about-section {
        width: 85%;
    }
}

@media only screen and (max-width: 380px) {
    .charity-title {
        text-align: center;
    }

    .charity-pics {
        text-align: center;
    }
    
    .charity-pic {
        width: 70%;
    }

    .c-p-2c {
        float: none;
    }
}