.account-details {
    margin-top: 100px;
    margin-bottom: 100px;
}

.account-details h2 {
    font-size: 26px;
    color: #fff;
    margin-bottom: 20px;
}

.tickets-history {
    margin-bottom: 20px;
    display: flex;
    width: 100%;
}

.tickets {
    background-color: #0c000e;
    padding: 20px;
    flex-grow: 1;
    margin-right: 20px;
}

.history {
    background-color: #0c000e;
    padding: 20px;
    flex-grow: 1;
}

.details-title {
    text-transform: uppercase;
    font-size: 13px;
    color: #fff;
    margin-bottom: 10px;
}

.item {
    color: #c29d0c;
    font-weight: 300;
    margin-bottom: 3px;
}

.item-nr {
    color: #0c000e;
    font-weight: 700;
    background-color: #c29d0c;
    border-radius: 3px;
    margin-right: 5px;
    font-size: 11px;
    padding: 1px 3px 0 3px;
    display: inline-block;
    height: 15px;
    line-height: 15px;
}

.account-info {
    background-color: #0c000e;
    width: 100%;
    padding: 20px;
}

.details-title {
    margin-bottom: 20px;
}

.account-info label {
    text-transform: uppercase;
    color: #ffcf00;
    font-size: 12px;
}

.detail-change {
    width: 40%;
    display: inline-block;
    margin-right: 40px;
    margin-bottom: 20px;
}

.detail-change input {
    width: 100%;
    font-weight: 300;
}

.password-change-title {
    text-transform: uppercase;
    font-size: 13px;
    color: #fff;
    margin-top: 40px;
    margin-bottom: 20px;
}

.account-info input[type=submit] {
    background-color: #ffcf00;
    color: #000;
    font-weight: 700;
    display: block;
    padding: 5px 34px;
}

@media only screen and (max-width: 990px) {
    .account-details {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 800px) {
    .account-details {
        width: 85%;
    }
}

@media only screen and (max-width: 650px) {
    .tickets-history {
        display: block;
    }

    .tickets {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 553px) {
    .detail-change {
        width: auto;
        margin-right: 0;
    }
}