/* ---------- info cards ---------- */

.info-cards {
    max-width: 1330px;
}

.info-cards-2 {
    display: none;
}

.info-card {
    display: inline-block;
    padding: 15px;
    width: 170px;
    border-radius: 3px;
    text-align: center;
}

.info-left, .info-right {
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 60px;
}

.info-right {
    float: right;
}

.info-card-margin {
    margin-right: 60px;
}

.info-card p {
    margin-bottom: 0;
}

.info-card-title {
    text-transform: uppercase;
    font-weight: bold;
    color: #c29d0c;
}

.info-card-number {
    font-weight: bold;
    font-size: 22px;
    color: #000;
}

/* ---------- main section ---------- */

.main {
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex: 0 0 auto;
    max-width: 1480px;
}

.card {
    width: 18vw;
    min-width: 200px;
    max-width: 284px;
    padding: 0 15px;
    margin-top: 50px;
    border-radius: 45px;
    border: solid 5px #ffcf00;
    box-shadow: 0 0 40px -10px #ffcf00;
}

.card-2-mobile {
    display: none;
}

.card p {
    margin-bottom: 0;
    text-transform: uppercase;
}

.charity {
    font-size: 11px;
    text-align: center;
    color: #ffcf00;
    margin-bottom: 20px;
}

.xp {
    color: #ffcf00;
    text-align: right;
    font-size: 13px;
}

.picture {
    margin: auto;
    background-image: url('../assets/name.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #c29d0c;
    width: 100%;
    height: 150px;
    border: solid 5px #ffcf00;
    border-radius: 3px;
}

.ticket-count {
    color: #c29d0c;
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 13px;
}

.progress {
    background-color: #c29d0c;
    border-radius: 3px;
    height: 20px;
    margin-bottom: 25px;
    position: relative;
}

.progress-bar {
    background-color: #ffcf00;
    color: #000;
    font-size: 11px;
}

.progress-num {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.info-title p {
    color: #c29d0c;
    font-size: 13px;
    display: inline;
}

.info-title {
    display: flex;
    justify-content: space-between;
}

.info p {
    color: #ffcf00;
    font-size: 15px;
    display: inline;
}

.info {
    display: flex;
    justify-content: space-between;
}

.enter-btn {
    width: 100%;
    padding: 8px;
    color: #000;
    text-transform: uppercase;
    border-radius: 3px;
    font-weight: bold;
    text-align: center;
    font-size: 13px;
    margin-top: 25px;
    margin-bottom: 25px;
    display: block;
}

.enter-btn:hover {
    color: #000;
}

.current-competitions {
    width: 45vw;
    min-width: 460px;
    max-width: 730px;
    display: inline-block;
}

.current-competitions h2 {
    text-align: center;
    color: #fff;
    font-size: 26px;
    margin-bottom: 20px;
}

.outer {
    background-color: #42004d;
    padding: 20px;
}

.how-to {
    background-color: #0c000e;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.inner {
    background-color: #42004d;
    width: 100%;
    height: 50%;
    color: #fff;
    padding: 20px;
    font-weight: 300;
}

.cc-img {
    width: 100%;
    margin: auto;
    height: 170px;
    background-image: url('../assets/name.png');
    background-position: center -30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #0c000e;
    margin-top: 20px;
}

.inner2 {
    padding: 20px 20px 0 20px;
    color: #fff;
    font-weight: 300;
}

.inner2 h3 {
    color: #fff;
    font-size: 22px;
    text-align: center;
}

/* ---------- responsive ---------- */

/*@media only screen and (max-width: 1145px) {
    .info-left, .info-right {
        margin-top: 120px;
    }
}

@media only screen and (max-width: 520px) {
    .info-card {
        display: block;
        margin-bottom: 40px;
        margin: 0 auto 40px auto;
    }

    .info-left {
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 992px) {
    .main {
        display: block;
        text-align: center;
        margin-top: 50px;
    }

    .info-cards {
        display: none;
    }

    .info-cards-2 {
        display: block;
    }

    .card-cont {
        text-align: center;
    }

    .card-1 {
        margin-top: 0;
        margin-right: 60px;
        display: inline-block;
    }

    .card-2 {
        display: none;
    }

    .card-2-mobile {
        display: inline-block;
        margin: 0;
    }

    .info-left, .info-right {
        display: block;
    }

    .info-left {
        margin-top: 60px;
    }

    .info-right {
        float: none;
        margin-top: 0;
        margin-bottom: 100px;
    }

    .info-cards {
        text-align: center;
    }

    .current-competitions {
        display: block;
        margin: 100px auto 0 auto;
    }
}

@media only screen and (max-width: 504px) {
    .card-1 {
        margin: auto;
        display: block;
        margin-bottom: 40px;
    }

    .current-competitions {
        width: 90%;
        min-width: 0px;
    }
}*/

@media only screen and (max-width: 1145px) {
    .info-left, .info-right {
        margin-top: 120px;
    }
}

@media only screen and (max-width: 520px) {
    .info-card {
        display: block;
        margin-bottom: 40px;
        margin: 0 auto 40px auto;
    }

    .info-left {
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 992px) {
    .main {
        display: block;
        text-align: center;
        margin-top: 50px;
    }

    .info-cards {
        display: none;
    }

    .info-cards-2 {
        display: block;
    }

    .card-cont {
        text-align: center;
    }

    .card-1 {
        margin-top: 0;
        margin-right: 60px;
        display: inline-block;
    }

    .card-2 {
        display: none;
    }

    .card-2-mobile {
        display: inline-block;
        margin: 0;
    }

    .info-left, .info-right {
        display: block;
    }

    .info-left {
        margin-top: 60px;
    }

    .info-right {
        float: none;
        margin-top: 0;
        margin-bottom: 100px;
    }

    .info-cards {
        text-align: center;
    }

    .current-competitions {
        display: block;
        margin: 100px auto 0 auto;
    }
}

@media only screen and (max-width: 504px) {
    .card-1 {
        margin-right: 15px;
    }

    .card {
        width: 42vw;
        min-width: 0;
    }

    .current-competitions {
        width: 90%;
        min-width: 0px;
    }
}