.navbar {
    display: block;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #0c000e;
}

.navbar .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.navbar .container-fluid .navbar-collapse {
    background-color: #0c000e;
    height: 12vh;
    min-height: 60px;
    max-height: 120px;
    padding-left: 10%;
    padding-right: 10%;
}

.navbar .container-fluid .navbar-brand {
    background-color: #0c000e;
    padding: 15px 70px 30px 70px;
    top: 0;
}

.navbar .container-fluid .navbar-collapse, .navbar .container-fluid .navbar-brand {
    box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.3);
}

.navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link {
    color: #fff;
    text-transform: uppercase;
    font-family: 'Kanit', sans-serif;
    transition: none;
}

.navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
    color: #ffcf00;
}

.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-brand .nav-logo {
    height: 100px;
    
}

.signin-nav-1 {
    position: absolute;
    font-weight: 700;
    padding: 5px 34px;
    margin-top: inherit;
    border-radius: 3px;
    background-color: #ffcf00;
    color: #000;
    text-transform: uppercase;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
}

.signin-nav-1:hover {
    color: #000;
    bottom: -17px;
}

.icons-nav {
    height: 15px;
    width: auto;
    position: absolute;
}

#iconNavTwitter {
    left: 15px;
}

#iconNavDiscord {
    right: 15px;
}

.nav-link-margin {
    margin-right: 50px;
}

.nav-menu {
    height: 24px;
    width: auto;
}

.navbar-toggler {
    margin-right: 10%;
}

.navbar .container-fluid .navbar-toggler {
    padding: 0;
}

.signin-nav-2-li {
    display: none;
}

.signin-nav-2 {
    font-weight: 700;
    padding: 5px 34px;
    border-radius: 3px;
    background-color: #ffcf00;
    color: #000;
    text-transform: uppercase;
}

.signin-nav-2:hover {
    color: #000;
}

.cart-account {
    position: absolute;
    z-index: 99;
    top: 4vh;
    right: 25px;
    cursor: default;
}

.cart, .account {
    display: inline-block;
}

.cart-cont {
    position: relative;
}

.cart .cart-cont a img {
    height: 4vh;
    max-height: 40px;
    width: 4vh;
    max-width: 40px;
}

.cart-cont span {
    position: absolute;
    top: -5px;
    right: -7px;
    background-color: #ffcf00;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    font-size: 11px;
    text-align: center;
}

.cart-cont a {
    color: #000;
}

.account {
    right: 25px;
    height: 4vh;
    max-height: 40px;
    width: 4vh;
    max-width: 40px;
    margin-left: 8px;
}

/* ---------- responsive ---------- */

@media only screen and (max-width: 991px) {
    .navbar {
        background-color: #0c000e;
        height: 12vh;
        min-height: 60px;
        max-height: 120px;
    }

    .navbar .container-fluid .navbar-collapse {
        background-color: rgba(12, 0, 14, 0.9);
    }

    .navbar .container-fluid .navbar-brand {
        background-color: transparent;
        
    }

    .signin-nav-2-li {
        display: block;
        margin-top: 8px;
    }

    .signin-nav-1 {
        display: none;
    }

    .icons-nav {
        display: none;
    }

    .navbar-brand .nav-logo {
        height: 80%;
        margin-top: 10%;
    }

    .navbar-brand {
        position: static;
        transform: none;
    }

    #navBrand {
        padding: 0;
        margin-left: 10%;
    }

    .navbar .container-fluid {
        height: 100%;
    }

    .navbar .container-fluid .navbar-brand {
        height: 100%;
    }

    div#navbarNav.navbar-collapse.collapse.show {
        padding: 5px 10% 30px 10%;
        height: auto;
        max-height: inherit;
        z-index: 99;
    }

    .cart-account {
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
  }

@media only screen and (min-width: 1662px) {
    .navbar .container-fluid .navbar-collapse {
        width: 1330px;
        margin: auto;
        padding: 0;
    }
}

@media only screen and (min-height: 1000px) {
    .cart-account {
        top: 40px;
    }
}