.pp {
    margin: 120px auto 100px auto;
}

.pp h2 {
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

.pp-content {
    padding: 20px;
    color: #fff;
    font-weight: 300;
    background-color: #42004d;
}

@media only screen and (max-width: 991px) {
    .pp {
        margin-top: 50px;
    }
}