.hero {
    width: 50%;
    background-color: #0c000e;
    margin: 120px auto 80px auto;
    padding: 25px;
}

.hero-pic {
    background-image: url('../assets/name.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #42004d;
    height: 45vh;
}

.hero-text {
    padding: 25px 25px 0 25px;
    color: #fff;
    font-weight: 300;
}

.tickets-row-1 {
    margin-bottom: 40px;
}

.tickets-row-2 {
    margin-bottom: 100px;
}

.tickets {
    display: flex;
    justify-content: space-between;
}

.ticket {
    height: 50vh;
    width: 38vh;
    background-color: #0c000e;
}

.ticket-1, .ticket-3 {
    margin-right: 30px;
}

.ticket-pic {
    background-image: url('../assets/name.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #42004d;
    height: 80%;
    width: 100%;
}

.ticket-text {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.ticket-price {
    color: #fff;
    text-transform: uppercase;
}

.ticket-btn {
    background-color: #ffcf00;
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    padding: 3px 10px;
    border-radius: 3px;
}

.ticket-btn:hover {
    color: #000;
}

.wheel-section {
    background-color: #0c000e;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 40px;
    position: relative;
}

.wheel-section p {
    margin-bottom: 0;
}

.wheel-title {
    font-size: 26px;
    color: #fff;
}

.wheel-number {
    font-size: 26px;
    color: #ffcf00;
}

.wheel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: #42004d;
}

.mainbox {
    position: relative;
    width: 100%;
    height: 100%;
}

.mainbox:after {
    position: absolute;
    content: '';
    width: 15%;
    height: 15%;
    background-color: #0c000e;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.box {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 50%;
    border: 10px solid #0c000e;
    overflow: hidden;
    transition: all ease 3s;
}

.box1 {
    width: 100%;
    height: 100%;
}

.span {
    width: 50%;
    height: 50%;
    display: inline-block;
    position: absolute;
}

.span1 {
    clip-path: polygon(0 92%, 100% 50%, 0 8%);
    top: 24%;
    left: 0;
}

.span2 {
    clip-path: polygon(100% 92%, 0 50%, 100% 8%);
    top: 24%;
    right: 0;
}

.span3 {
    clip-path: polygon(50% 0, 8% 100%, 92% 100%);
    bottom: 0;
    left: 24%;
}

.span4 {
    clip-path: polygon(50% 100%, 92% 0, 8% 0);
    top: 0;
    left: 24%;
}

.box2 {
    position: absolute;
    top: -4px;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(-135deg);
}

.box1 .span {
    background-color: #ffcf00;
}

.box2 .span {
    background-color: #42004d;
}

.box1 .span b {
    color: #000;
}

.box2 .span b {
    color: #fff;
}

.span b {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.span img {
    height: 30px;
    width: auto;
}

.box1 .span4 b { /* field 1 */
    transform: rotate(-90deg) translate(11px, -27px);
}

.box2 .span3 b { /* field 2 */
    transform: rotate(90deg) translate(-13px, 25px);
}

.box2 .span1 b { /* field 4 */
    transform: rotate(180deg) translate(22px, 12px);
}

.box1 .span3 b { /* field 5 */
    transform: rotate(90deg) translate(-11px, 25px);
}

.box2 .span4 b { /* field 6 */
    transform: rotate(90deg) translate(-14px, 25px);
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10%;
    height: 10%;
    border-radius: 50%;
    background-color: #0c000e;
}

.wheel-right {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.spin-btn {
    background-color: #ffcf00;
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    padding: 7px 45px;
    border-radius: 3px;
    border: none;
}

.spin-btn:hover {
    color: #000;
}

.spin-btn:active {
    padding: 4px 42px;
    margin-right: 3px;
}

.spin-btn:focus {
    outline: none;
}

.spin-info {
    color: #fff;
    font-weight: 300;
    margin-top: 5px;
    font-size: 13px;
    text-align: center;
}

@media only screen and (max-width: 990px) {
    .hero {
        margin-top: 50px;
    }

    .tickets-row-1 {
        margin-bottom: 120px;
    }

    .tickets-row-2 {
        margin-top: 120px;
    }
}

@media only screen and (max-width: 900px) {
    .wheel-section {
        display: block;
        text-align: center;
        height: 600px;
    }

    .wheel-right {
        bottom: 25px;
        left: 50%;
        transform: translate(-50%, 80%);
    }

    .tickets-row-1 {
        margin-bottom: 30px;
    }

    .tickets-row-2 {
        margin-top: 30px;
    }
}

@media only screen and (max-width: 800px) {
    .hero {
        width: 85%;
    }

    .store {
        width: 85%;
    }
}

@media only screen and (max-width: 560px) {
    .tickets-row {
        display: block;
    }

    .ticket {
        margin: auto;
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 400px) {
    .store {
        width: 100%;
    }

    .wheel-section {
        background-color: rgba(12, 0, 14, 0);
    }

    .spin-btn:active {
        padding: 7px 45px;
        margin-right: 0;
    }
}